@font-face {
	font-family: "Departure Mono";
	src: url("/fonts/DepartureMono-Regular.woff2") format("woff2");
}

/*sooo i just learned that css resets exist.*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

/*css of doom and despair, I genuinely have no idea how to properly design anything*/

:root {
	--bgt: rgba(0, 0, 0, 0.5);
	--bgs: rgba(0, 0, 0, 1);
	--border: 1px solid #fff;
	--border-radius: 0px;
	--text: #fff;
	--font: "Departure Mono";
	--font-size: 16px;
	--padding: 4px;
}

html,
body {
	margin: 0;
	background-color: #000000;
	height: 100%;
	font-family: var(--font);
	font-size: var(--font-size);
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
}

#settings-flex {
	position: fixed;
	top: 0;
	right: 0;

	display: flex;
	flex-direction: column;
}

#hide-settings,
#settings {
	background: var(--bgt);
	color: var(--text);
	padding: var(--padding);
	border: var(--border);
	border-radius: var(--border-radius);
}

#settings {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 0px;

	gap: 4px;
}

#settings.hidden {
	display: none;
}

.setting-row {
	display: flex;
	align-items: center;
	gap: 5px;
}

#video-button,
#audio-button,
select,
button {
	background: var(--bgs);
	border: var(--border);
	border-radius: var(--border-radius);
	color: var(--text);
	font-family: var(--font);
	font-weight: normal;
	cursor: pointer;
	font-size: var(--font-size);
	padding: var(--padding);

	height: 26px;

	display: flex;
	justify-content: center;
	align-items: center;
}

select:focus {
	outline: none;
}

#video-name,
#audio-name {
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

/*its off wtf man its 2025 why cant I style sliders properly. THE FIREFOX SLIDERs ARE OFF WHY???????*/

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background-color: #ffffff;
	width: 19px;
	height: 19px;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: var(--bgs);
	border: var(--border);
	height: 20px;
}

input[type="range"]::-moz-range-thumb {
	border: none;
	border-radius: 0;
	background-color: #ffffff;
	height: 20px;
	width: 20px;
}

input[type="range"]::-moz-range-track {
	background: var(--bgs);
	border: var(--border);
	height: 18.5px;
}

input[type="checkbox"] {
	accent-color: #333;
	margin: 0;
}

/*premium rage bait here. I genuinely have no idea how people do this shit*/
@media (max-width: 600px) and (orientation: portrait) {
	#hide-settings,
	#settings {
		zoom: 0.8;
	}
}

@media (max-height: 600px) and (orientation: landscape) {
	#hide-settings,
	#settings {
		zoom: 0.5;
	}
}

img {
	height: 16px;
	width: 16px;
	filter: invert(1);
}

.tooltiptext {
	visibility: hidden;
	position: absolute;
	right: 0%;
	top: 100%;
	background: var(--bgs);
	padding: var(--padding);
	border: var(--border);
	border-radius: var(--border-radius);
	width: 140%;
	word-spacing: -0.15em;
}

img:hover + .tooltiptext {
	visibility: visible;
}
