body {
	margin: 0;
}

#media-controls {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 8px;
	font:
		12px/1.2 Arial,
		sans-serif;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#video-upload,
#audio-upload,
#lrc-upload {
	max-width: 200px;
}

input[type="range"] {
	height: 2px;
	background: rgba(255, 255, 255, 0.2);
}
