html,
body {
	margin: 0;
	background-color: #000000;
	height: 100%;
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
}

#settings {
	position: fixed;
	top: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 8px;
	font-family: Arial;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#video-upload,
#audio-upload {
	max-width: 200px;
}

input[type="range"] {
	height: 2px;
	background: rgba(255, 255, 255, 0.2);
}

.info {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}

.info img {
	width: 20px;
	height: 20px;
	filter: invert(1);
}

.info::after {
	content: attr(data-tooltip);
	position: absolute;
	right: 0;
	top: 100%;
	max-width: 400px;
	background: rgba(0, 0, 0, 1);
	color: #fff;
	padding: 8px 8px;
	border-radius: 4px;
	font-size: 14px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s;
}

.info:hover::after {
	opacity: 1;
}

.rc {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.setting-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}
